<% if @current_user.present? %>
<h5>Current User: <%= @current_user.email %></h5>
<% end %>

<h1> Premier League Teams</h1>


<div class="container-inner">
<% @clubs.each do |club| %>


<% if club.image.present? %>
<p><%= link_to image_tag(club.image, :class => 'thumb', :alt => club.name), club %></p>
 <% end %>
<% end %>
</div>


<div class="outer">
  <div class="left-side">
    <p class="table-inner">Leaderboard Table</p>

  <div class="table-colums-rows">


  <table>
    <tr>
      <th>Teams </th>
      <th>Points </th>
      <th>Games Played </th>
      </tr>

    <% @team.each do |team| %>
    <tr>
        <td>

        <%= team["team"] %>
        </td>
        <td class="table-inner">
        <%= team["points"] %>
        </td>
        <td class="table-inner">
        <%= team["played"] %>
        </td>
    </tr>

    <% end  %>
    </table>
    </div>
  </div>

<div class="middle-side">
  <div class="middle-side-heading">
  <p class="highlights">Highlights </p>
  <p class="fixtures">Team <%=  link_to 'Fixtures & Results', players_path %></p>
  </div>

  <iframe src="https://www.scorebat.com/embed/" frameborder="0" width="600" height="760" allowfullscreen allow='autoplay; fullscreen' style="width:600px;height:760px;overflow:hidden;display:block;" class="_scorebatEmbeddedPlayer_"></iframe><script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = 'https://www.scorebat.com/embed/embed.js?v=arrv'; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'scorebat-jssdk'));</script>
</div>


</div>
