<!DOCTYPE html>
<html>
  <head>
    <title>Project2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">


    <div class="logo">
        <%= image_tag("/assets/flogo.png", {:style => "width: 150px"}) %>
      <nav>

        <%= link_to 'Clubs', clubs_path %>
        <% if @current_user.present? %>
           <%= link_to 'Logout', login_path, :method => 'delete'%>
           <% else %>
           <%= link_to 'Sign up', new_user_path %>
           <%= link_to 'Login', login_path %>
        <% end %>

      </nav>
    </div>
    <%= yield %>
    </div>


  </body>
</html>
